.container {
  padding: 0.5em;
  color: white;
  background-color: #1976D3;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  margin-left: 1em;
  width: 15%;
  max-width: 100%;
}

.nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.nav li {
  margin: 0 0.5em;
  list-style: none;
}

.active {
    border-bottom: 2px solid white;
}

.nav a {
  color: white;
  font-size: 0.7rem;
  text-decoration: none;
}
